<body>
    <head>
        <link rel="stylesheet" type="text/css" href="/static/main.css">
    </head>
    <div id="container"></div>
    <script src="/static/bower_components/threejs/build/three.js"></script>
    <script src="/static/bower_components/threejs/examples/js/Detector.js"></script>
    <script src="/static/bower_components/threejs/examples/js/controls/OrbitControls.js"></script>
    <script src="/static/bower_components/dat.gui/dat.gui.js"></script>

    <script id="vertexShader" type="x-shader/x-vertex">
        // switch on high precision floats
        #ifdef GL_ES
        precision highp float;
        #endif
        
        uniform float amplitude;
        uniform float deform_amt;
        attribute float displacement;

        // a shared variable for the VS and FS containing the normal
        varying vec3 vNormal;

        void main() {
            // set the vNormal value with
            // the attribute value passed
            // in by Three.js
            vNormal = normal;

            // multiply our displacement by the
            // amplitude. The amp will get animated
            // so we'll have animated displacement
            // vec3 newPosition = position + 
            //                    normal * 
            //                    vec3(displacement *
            //                         amplitude);

            vec3 newPosition = position + amplitude * normal * vec3( displacement ) * deform_amt;
            // vec3 newPosition = vec3(position.x + amplitude * normal * displacement.x  * 5., 1.0, 1.0);

            gl_Position = projectionMatrix *
                          modelViewMatrix *
                          vec4(newPosition, 1.0);

            // gl_Position = vec4( position, 1.0 );
        }
    </script>
    <script id="fragmentShader" type="x-shader/x-fragment">
        #ifdef GL_ES
        precision highp float;
        #endif

// CAN WE ENABLE GL MODES FROM THIS SHADER?  (not like this apparently)
        // glEnable( GL_BLEND );
        // glBlendFunc( GL_ZERO, GL_SRC_COLOR );
 
            // draw texture
 
        // glDisable( GL_BLEND );

        uniform vec2 u_mouse;
        uniform vec2 u_resolution;
        uniform float u_time;
        uniform int check_value;

        varying vec3 vNormal;

        void main() {
            // calc the dot product and clamp 0 -> 1 rather than -1 -> 1
            float color_cycle_speed = 0.1;
            vec3 light = vec3(0.5, 0.2, 1.0);
            vec2 st = gl_FragCoord.xy/u_resolution.xy;

            // ensure it's normalized
            light = normalize(light);

            // calculate the dot product of the light to the vertex normal
            float dProd = max(0.0, dot(vNormal, light));

            vec4 color1 = vec4(sin(st.x*u_time*dProd), // R
                                sin(st.y*u_time*dProd), // G
                                sin(st.x*u_time*dProd), // B
                                1.0);
            
            vec4 color2 = vec4(abs(cos(st.y*u_time*dProd)), // R
                                abs(cos(st.x*u_time*dProd)), // G
                                abs(cos((st.y*u_time)/2.*dProd)), // B
                                1.0);

            vec4 blue = vec4(0.2, 0.4, 1.0, 1.0);
            vec4 purple = vec4(0.6, 0.0, 1.0, 1.0);
            vec4 gold = vec4(0.9568, 0.8196, 0.2588, 1.0);
            float mix_amt = clamp(abs(sin(u_time*color_cycle_speed)), 0.4, 1.0);

            vec4 color = mix(purple*color2*dProd, gold*color2*dProd, mix_amt);

            gl_FragColor = color;

            if(st.y < 0.5 && check_value == 1) {
                gl_FragColor = vec4(mix_amt, mix_amt, mix_amt, 1.0);
            }

        }
    </script>
    <script>
        if ( ! Detector.webgl ) Detector.addGetWebGLMessage();

        var container;
        var camera, scene, renderer;
        var uniforms;
        var controls;

        var userOpts = {
            displacement: 30,
            valueCheckToggle: false,
            deform_amt: 2.5
        };

        var sphere;

        init();
        animate();

        function init() {

// SCENE & RENDER SETUP
            container = document.getElementById( 'container' );

            renderer = new THREE.WebGLRenderer( { antialias: true } );
            renderer.setPixelRatio( window.devicePixelRatio );
            container.appendChild( renderer.domElement );

            scene = new THREE.Scene();

           // Build the GUI and specify function to update values on change
            buildGui(userOpts, function(opts){
                uniforms.deform_amt.value = opts.deform_amt;
            });


// CAMERA SETUP
            // set some camera attributes
            var VIEW_ANGLE = 45,
                ASPECT = window.innerWidth / window.innerHeight,
                NEAR = 0.1,
                FAR = 10000;

            camera = new THREE.PerspectiveCamera( VIEW_ANGLE, ASPECT, NEAR, FAR);
            // var camera = new THREE.PerspectiveCamera( 70, 1, 1, 1100 ); // This is like, totally broken.
            
            // the camera starts at 0,0,0 so pull it back
            // camera.position.z = 500;
            camera.position.z = 1;


// SHADER SETUP
            uniforms = {
                u_time: { type: "f", value: 1.0 },
                u_resolution: { type: "v2", value: new THREE.Vector2() },
                u_mouse: { type: "v2", value: new THREE.Vector2() },
                amplitude: { type: 'f', value: 0 }, // a float
                check_value: { type: 'i', value: 0 },
                deform_amt: { type: 'f', value: 2.5 }
            };

            var attributes = {
                displacement: {
                    type: 'f', // a float
                    value: [] // an empty array
                }
            };

            var material = new THREE.ShaderMaterial( {
                uniforms: uniforms,
                // attributes: attributes,
                vertexShader: document.getElementById( 'vertexShader' ).textContent,
                fragmentShader: document.getElementById( 'fragmentShader' ).textContent
            } );


// SPHERE SETUP

            // set up the sphere vars
            var radius = 100,
                segments = 32,
                rings = 16;

            // create the sphere's material
            // var sphereMaterial =
            //   new THREE.MeshLambertMaterial(
            //     {
            //       color: 0x0055CC,
            //       wireframe: true
            //     });

            // create the sphere's material
            var shaderMaterial = new THREE.ShaderMaterial({
                uniforms:       uniforms,
                vertexShader: document.getElementById( 'vertexShader' ).textContent,
                fragmentShader: document.getElementById( 'fragmentShader' ).textContent
            });

            // Apparently you need to use BufferGeometry to pass attributes to shaders now.
            // https://stackoverflow.com/questions/25491068/three-js-buffergeometry-for-spheres
            // constructor: radius, widthSegments, heightSegments, phiStart, phiLength, thetaStart, thetaLength
            var sphereGeo = new THREE.SphereBufferGeometry( radius, segments, rings ); //r72


// SPHERE GEOMETRY SETUP FOR VERTEX SHADER

            // now populate the array of attributes
            var vertices = sphereGeo.attributes.position;
            var values = attributes.displacement.value;

            for(var v = 0; v < vertices.length; v++) {
                values.push(Math.random() * 30);
            }

            sphereGeo.addAttribute( 'displacement', new THREE.BufferAttribute( new Float32Array(values), 1 ) );

            sphere = new THREE.Mesh(
              sphereGeo,
              shaderMaterial);

            // add the sphere to the scene
            scene.add(sphere);


// BACKGROUND GEOMETRY SETUP

            var geometry = new THREE.PlaneBufferGeometry( 2000, 2000 );

            var material = new THREE.ShaderMaterial( {
                uniforms: uniforms,
                vertexShader: document.getElementById( 'vertexShader' ).textContent,
                fragmentShader: document.getElementById( 'fragmentShader' ).textContent
            } );
        
            var mesh = new THREE.Mesh( geometry, material );
            scene.add( mesh );



// LIGHT SETUP
            // create a point light
            var pointLight = new THREE.PointLight(0xFFFFFF);

            // set its position
            pointLight.position.x = 10;
            pointLight.position.y = 50;
            pointLight.position.z = 130;

            // add to the scene
            // scene.add(pointLight);


// NAV SETUP
            controls = new THREE.OrbitControls(camera, renderer.domElement);


// EVENT LISTENER SETUP
            onWindowResize();
            window.addEventListener( 'resize', onWindowResize, false );
            // onMouseMove();
            window.addEventListener( 'mousemove', onMouseMove, false );
        }

        function onWindowResize( event ) {
            renderer.setSize( window.innerWidth, window.innerHeight );
            uniforms.u_resolution.value.x = renderer.domElement.width;
            uniforms.u_resolution.value.y = renderer.domElement.height;
        }

        function onMouseMove( event ) {        
            uniforms.u_mouse.value.x = event.pageX;
            uniforms.u_mouse.value.y = event.pageY;
        }

        function animate() {
            requestAnimationFrame( animate );

            sphere.rotation.x += 0.01;
            sphere.rotation.y -= 0.004;

            render();
        }
        
        var frame = 0;
        
        function render() {

            uniforms.u_time.value += 0.05;
            uniforms.amplitude.value = Math.sin(frame);
            frame += 0.01;

            renderer.render( scene, camera );
        }

        function toggleValueCheck() {
            if(uniforms.check_value.value == 1) {
                uniforms.check_value.value = 0;
            }
            else {
                uniforms.check_value.value = 1;
            }

            console.log('Toggled: ' + uniforms.check_value);
        }

        // # Build gui with dat.gui
        function buildGui(options, callback)
        {
            // create and initialize the UI
            var gui = new dat.GUI({ height  : 4 * 32 - 1 });
            
            // the callback notified on UI change
            var change  = function(){
                callback(options)
            }

            gui.add(options, 'deform_amt').name('Deform Amount').min(0.1).max(30.0).onChange(change);
            gui.add(options,'valueCheckToggle').name('Check Mix Value').onChange(toggleValueCheck);
            // gui.add(options, 'easing').name('Easing Curve').options(easings)    .onChange(change);
            // gui.add(options, 'changeColor').name('Change Color To Green');
        }
    </script>
</body>