<body>
    <head>
        <link rel="stylesheet" type="text/css" href="/static/main.css">
    </head>
    <div id="container"></div>
    <!-- <script src="js/Detector.js"></script> -->
    <script src="/static/bower_components/threejs/build/three.js"></script>
    <script src="/static/bower_components/threejs/examples/js/Detector.js"></script>

<!-- VERTEX SHADER -->
    <script id="vertexShader" type="x-shader/x-vertex">
        void main() {
            gl_Position = vec4( position, 1.0 );
        }
    </script>

<!-- FRAGMENT SHADER -->
    <script id="fragmentShader" type="x-shader/x-fragment">
        #ifdef GL_ES
        precision mediump float;
        #endif

        uniform vec2 u_mouse;
        uniform vec2 u_resolution;
        uniform float u_time;

        void main() {
            vec2 st = gl_FragCoord.xy/u_resolution.xy;
            vec2 m = u_mouse.xy/u_resolution.xy;

            vec3 color = vec3(0.0);
            
            // bottom-left
                // vec2 bl = step(vec2(m),st);
                // float pct = bl.x * bl.y;
            // float b = step(1.0-m.y, st.y);
            // float l = step(m.x, st.x);
            // float pct = b * l;

            // top-right 
            // vec2 tr = step(vec2(0.1),1.0-st);
            // pct *= tr.x * tr.y;

            vec2 toCenter = vec2(m)-st;
            float pct = length(toCenter)-0.9;
            
            // float r = plot(pct + m.y, );
            float g = 1.0-pct + abs(tan(u_time*0.5));
            float b = pct + m.y + abs(cos(u_time*0.5));

            float r = smoothstep( 0.5, 1.0, abs(sin(u_time*0.4)));

            vec3 bottom_bar = step(st.y, 0.1);

            color = vec3(r, g, b);
            color = vec3(r, 0.0, 0.0) * bottom_bar;
            color = smoothstep(0.0, 0.8, color);

            gl_FragColor = vec4(color,1.0);
        }
    </script>

<!-- THREE.js -->
    <script>
        if ( ! Detector.webgl ) Detector.addGetWebGLMessage();

        var container;
        var camera, scene, renderer;
        var uniforms;

        init();
        animate();

        function init() {
            container = document.getElementById( 'container' );

            camera = new THREE.Camera();
            camera.position.z = 1;

            scene = new THREE.Scene();

            var geometry = new THREE.PlaneBufferGeometry( 2, 2 );

            uniforms = {
                u_time: { type: "f", value: 1.0 },
                u_resolution: { type: "v2", value: new THREE.Vector2() },
                u_mouse: { type: "v2", value: new THREE.Vector2() }
            };

            var material = new THREE.ShaderMaterial( {
                uniforms: uniforms,
                vertexShader: document.getElementById( 'vertexShader' ).textContent,
                fragmentShader: document.getElementById( 'fragmentShader' ).textContent
            } );

            var mesh = new THREE.Mesh( geometry, material );
            scene.add( mesh );

            renderer = new THREE.WebGLRenderer();
            renderer.setPixelRatio( window.devicePixelRatio );

            container.appendChild( renderer.domElement );

            onWindowResize();
            window.addEventListener( 'resize', onWindowResize, false );
            // onMouseMove();
            window.addEventListener( 'mousemove', onMouseMove, false );
        }

        function onWindowResize( event ) {
            renderer.setSize( window.innerWidth, window.innerHeight );
            uniforms.u_resolution.value.x = renderer.domElement.width;
            uniforms.u_resolution.value.y = renderer.domElement.height;
        }

        function onMouseMove( event ) {        
            uniforms.u_mouse.value.x = event.pageX;
            uniforms.u_mouse.value.y = event.pageY;
        }

        function animate() {
            requestAnimationFrame( animate );
            render();
        }

        function render() {
            uniforms.u_time.value += 0.05;
            renderer.render( scene, camera );
        }
    </script>
</body>