<body>
    <head>
        <link rel="stylesheet" type="text/css" href="/static/main.css">
    </head>
    <div id="container"></div>
    <!-- <script src="js/Detector.js"></script> -->
    <script src="/static/bower_components/threejs/build/three.js"></script>
    <script src="/static/bower_components/threejs/examples/js/Detector.js"></script>
    <script id="vertexShader" type="x-shader/x-vertex">
        void main() {
            gl_Position = vec4( position, 1.0 );
        }
    </script>
    <script id="fragmentShader" type="x-shader/x-fragment">
        #ifdef GL_ES
        precision mediump float;
        #endif

        uniform vec2 u_mouse;
        uniform vec2 u_resolution;
        uniform float u_time;

        float random( vec2 p )
        {
          // https://stackoverflow.com/questions/5149544/can-i-generate-a-random-number-inside-a-pixel-shader  
          // We need irrationals for pseudo randomness.
          // Most (all?) known transcendental numbers will (generally) work.
          const vec2 r = vec2(
            23.1406926327792690,  // e^pi (Gelfond's constant)
             2.6651441426902251); // 2^sqrt(2) (Gelfond–Schneider constant)
          return fract( cos( mod( 123456789., 1e-7 + 256. * dot(p,r) ) ) );  
        }

        // https://stackoverflow.com/questions/3451553/value-remapping
        float map( float value, float low1, float low2, float high1, float high2 ) {
            return low2 + (value - low1) * (high2 - low2) / (high1 - low1);
        }

        // https://stackoverflow.com/questions/4200224/random-noise-functions-for-glsl
        float rand(vec2 co){
            return fract(sin(dot(co.xy ,vec2(12.9898,78.233))) * 43758.5453);
        }

        void main() {
            vec2 st = gl_FragCoord.xy/u_resolution.xy;
            vec2 m = u_mouse.xy/u_resolution.xy;

            // gl_FragColor = vec4( abs( sin(u_time)), abs(cos(u_time/.8)), rand(st), 1.0);
            // gl_FragColor = vec4( abs(cos(rand(st*u_time))), m.x, m.y, 1.0);

            gl_FragColor = vec4( abs(cos(rand(st*u_time))), abs(cos(rand(st*u_time))), abs(cos(rand(st*u_time))), 1.0);
        }
    </script>
    <script>
        if ( ! Detector.webgl ) Detector.addGetWebGLMessage();

        var container;
        var camera, scene, renderer;
        var uniforms;

        init();
        animate();

        function init() {
            container = document.getElementById( 'container' );

            camera = new THREE.Camera();
            camera.position.z = 1;

            scene = new THREE.Scene();

            var geometry = new THREE.PlaneBufferGeometry( 2, 2 );

            uniforms = {
                u_time: { type: "f", value: 1.0 },
                u_resolution: { type: "v2", value: new THREE.Vector2() },
                u_mouse: { type: "v2", value: new THREE.Vector2() }
            };

            var material = new THREE.ShaderMaterial( {
                uniforms: uniforms,
                vertexShader: document.getElementById( 'vertexShader' ).textContent,
                fragmentShader: document.getElementById( 'fragmentShader' ).textContent
            } );

            var mesh = new THREE.Mesh( geometry, material );
            scene.add( mesh );

            renderer = new THREE.WebGLRenderer();
            renderer.setPixelRatio( window.devicePixelRatio );

            container.appendChild( renderer.domElement );

            onWindowResize();
            window.addEventListener( 'resize', onWindowResize, false );
            // onMouseMove();
            window.addEventListener( 'mousemove', onMouseMove, false );
        }

        function onWindowResize( event ) {
            renderer.setSize( window.innerWidth, window.innerHeight );
            uniforms.u_resolution.value.x = renderer.domElement.width;
            uniforms.u_resolution.value.y = renderer.domElement.height;
        }

        function onMouseMove( event ) {        
            uniforms.u_mouse.value.x = event.pageX;
            uniforms.u_mouse.value.y = event.pageY;
        }

        function animate() {
            requestAnimationFrame( animate );
            render();
        }

        function render() {
            uniforms.u_time.value += 0.05;
            renderer.render( scene, camera );
        }
    </script>
</body>