 <!-- Also Try KeyboardState -->
 <!-- var keyboard = new THREEx.KeyboardState(); -->

<body>
    <head>
        <link rel="stylesheet" type="text/css" href="/static/main.css">
    </head>
    <div id="container"></div>
    <script src="/static/bower_components/threejs/build/three.js"></script>
    <script src="/static/bower_components/threejs/examples/js/Detector.js"></script>
    <!-- <script src="/static/bower_components/threejs/examples/js/loaders/STLLoader.js"></script> -->
    <script src="/static/bower_components/threejs/examples/js/loaders/OBJLoader.js"></script>
    <script src="/static/bower_components/threejs/examples/js/loaders/MTLLoader.js"></script>
    <script src="/static/bower_components/threejs/examples/js/controls/OrbitControls.js"></script>
    <script src="/static/bower_components/dat.gui/dat.gui.js"></script>

    <script id="vertexShader" type="x-shader/x-vertex">
        // switch on high precision floats
        #ifdef GL_ES
        precision highp float;
        #endif
        
        uniform float u_time;
        uniform float amplitude;
        uniform float deform_amt;
        attribute float displacement;

        #define PI 3.14159265359

        // a shared variable for the VS and FS containing the normal
        varying vec3 vNormal;

        void main() {
            // set the vNormal value with
            // the attribute value passed
            // in by Three.js
            vNormal = normal;

            // multiply our displacement by the
            // amplitude. The amp will get animated
            // so we'll have animated displacement
            // vec3 newPosition = position + 
            //                    normal * 
            //                    vec3(displacement *
            //                         amplitude);

            //vec3 newPosition = position + amplitude * normal * vec3( displacement ) * deform_amt;
            // vec3 newPosition = position + amplitude * normal * vec3( cos(displacement*u_time*7.5), sin(displacement*u_time), mod(displacement*u_time*1.2, 1.0)) * deform_amt;

            vec3 newPosition = position + amplitude * normal * vec3( abs(sin(displacement)*5.0), 1.0, mod(displacement*u_time*1.2, 1.0)*10.0 ) * deform_amt;
            // vec3 newPosition = position + amplitude * normal * vec3( sin(displacement)*5.0, 1.0, sin(displacement*u_time*10.0 )) * deform_amt;

            // float amount = 1.2;
            // float amountPerDegree = 10.;
            // float i = position.x;
            // float angle = i / 180.0 * PI;
            // float radius = 1.0 + floor(i / amount * amountPerDegree) / amountPerDegree;

            // vec3 pos = vec3(sin(angle) * radius, cos(angle) * radius, cos(angle) * radius*2.);


            gl_Position = projectionMatrix *
                          modelViewMatrix *
                          vec4(newPosition, 1.0);

            // gl_Position = vec4( position, 1.0 );
        }
    </script>
    <script id="fragmentShader" type="x-shader/x-fragment">
        #ifdef GL_ES
        precision highp float;
        #endif

        uniform vec2 u_mouse;
        uniform vec2 u_resolution;
        uniform float u_time;
        uniform int check_value;

        varying vec3 vNormal;

        #define PI 3.14159265359
        #define TWO_PI 6.28318530718

        float plot(vec2 st, float pct){
            return  smoothstep( pct-0.01, pct, st.y) - 
            smoothstep( pct, pct+0.01, st.y);
        }

        //  Function from Iñigo Quiles 
        //  https://www.shadertoy.com/view/MsS3Wc
        vec3 hsb2rgb( in vec3 c ){
            vec3 rgb = clamp(abs(mod(c.x*6.0+vec3(0.0,4.0,2.0),
                                     6.0)-3.0)-1.0, 
                             0.0, 
                             1.0 );
            rgb = rgb*rgb*(3.0-2.0*rgb);
            return c.z * mix( vec3(1.0), rgb, c.y);
        }

        void main() {
            float color_cycle_speed = 0.1;
            vec2 st = gl_FragCoord.xy/u_resolution.xy;

            // position light source ensure it's normalized
            vec3 light = vec3(0.5, 0.2, 1.0);
            light = normalize(light);

            // calculate the dot product of the light to the vertex normal
            float dProd = max(0.0, dot(vNormal, light));

            // define colors, both dynamic and static
            vec4 color1 = vec4(sin(st.x*u_time*dProd), // R
                                sin(st.y*u_time*dProd), // G
                                sin(st.x*u_time*dProd), // B
                                1.0);
            
            vec4 color2 = vec4(abs(cos(st.y*u_time*dProd)), // R
                                abs(cos(st.x*u_time*dProd)), // G
                                abs(cos((st.y*u_time)/2.*dProd)), // B
                                1.0);

            vec4 blue = vec4(0.2, 0.4, 1.0, 1.0);
            vec4 purple = vec4(0.6, 0.0, 1.0, 1.0);
            vec4 gold = vec4(0.9568, 0.8196, 0.2588, 1.0);
            

            float mix_amt = clamp(abs(sin(u_time*color_cycle_speed)), 0.4, 1.0);

            vec4 color = vec4(smoothstep(0.0,1.0, abs(sin(u_time*0.1)))*dProd, 
                              smoothstep(0.0,1.0, abs(sin(u_time*0.18)))*dProd, 
                              smoothstep(0.0,1.0, abs(sin(u_time*0.09)))*dProd, 
                              1.0);

            // HSB Polar Coordinates
            vec2 toCenter = vec2(0.5)-st;
            float angle = atan(toCenter.y,toCenter.x);
            vec3 angleMapped = vec3((angle/TWO_PI)+0.5);
            float radius = length(toCenter)*2.0;

            color = vec4(hsb2rgb(vec3((angle/TWO_PI)+0.5,radius,1.0)), 1.0);

            // set color and make sure it takes into account the directional light
            gl_FragColor = color*dProd;

            // Paint the bottom half of the object with the mix amount value if enabled
            if(st.y < 0.5 && check_value == 1) {
                gl_FragColor = vec4(mix_amt, mix_amt, mix_amt, 1.0);
            }

        }
    </script>
    <script>
        if ( ! Detector.webgl ) Detector.addGetWebGLMessage();

        var container;
        var camera, scene, renderer;
        var uniforms;
        var controls;

        var userOpts = {
            displacement: 30,
            valueCheckToggle: false,
            deform_amt: 2.5
        };

        init();
        animate();

        function init() {

// SCENE & RENDER SETUP
            container = document.getElementById( 'container' );

            scene = new THREE.Scene();
            renderer = new THREE.WebGLRenderer( { antialias: true } );
            container.appendChild( renderer.domElement );

           // Build the GUI and specify function to update values on change
            buildGui(userOpts, function(opts){
                uniforms.deform_amt.value = opts.deform_amt;
            });


// CAMERA SETUP
            // set some camera attributes
            var VIEW_ANGLE = 45,
                ASPECT = window.innerWidth / window.innerHeight,
                NEAR = 0.1,
                FAR = 10000;

            camera = new THREE.PerspectiveCamera( VIEW_ANGLE, ASPECT, NEAR, FAR);
            
            // the camera starts at 0,0,0 so pull it back
            camera.position.z = 10;


// SHADER SETUP
            uniforms = {
                u_time: { type: "f", value: 1.0 },
                u_resolution: { type: "v2", value: new THREE.Vector2() },
                u_mouse: { type: "v2", value: new THREE.Vector2() },
                amplitude: { type: 'f', value: 0 }, // a float
                check_value: { type: 'i', value: 0 },
                deform_amt: { type: 'f', value: 2.5 }
            };

            var attributes = {
                displacement: {
                    type: 'f',
                    value: []
                }
            };

            var material = new THREE.ShaderMaterial( {
                uniforms: uniforms,
                vertexShader: document.getElementById( 'vertexShader' ).textContent,
                fragmentShader: document.getElementById( 'fragmentShader' ).textContent
            } );


// SPHERE SETUP

            // set up the sphere vars
            var SPHERE_MULTIPLIER = 2;
            var radius = 100,
                segments = 16*SPHERE_MULTIPLIER,
                rings = 8*SPHERE_MULTIPLIER;

            // create the sphere's material
            // var sphereMaterial =
            //   new THREE.MeshLambertMaterial(
            //     {
            //       color: 0x0055CC,
            //       wireframe: true
            //     });

            // create the sphere's material
            var shaderMaterial = new THREE.ShaderMaterial({
                uniforms:       uniforms,
                wireframe: true,
                vertexShader: document.getElementById( 'vertexShader' ).textContent,
                fragmentShader: document.getElementById( 'fragmentShader' ).textContent
            });

            // Apparently you need to use BufferGeometry to pass attributes to shaders now.
            // https://stackoverflow.com/questions/25491068/three-js-buffergeometry-for-spheres
            // constructor: radius, widthSegments, heightSegments, phiStart, phiLength, thetaStart, thetaLength
            var sphereGeo = new THREE.SphereBufferGeometry( radius, segments, rings ); //r72


//////////////////////////////////////////
// TUTORIAL                             //
//////////////////////////////////////////

// SPHERE GEOMETRY SETUP FOR VERTEX SHADER

// Earth
            var geometry  = new THREE.SphereGeometry(0.5, 32, 32)
            var earthMaterial = new THREE.MeshPhongMaterial( {});

            // THREE.TextureLoader()
            var loader = new THREE.TextureLoader();

            // load a resource
            loader.load(
                // resource URL
                '/static/images/earthmap1k.jpg',
                // Function when resource is loaded
                function ( texture ) {
                    // do something with the texture
                    earthMaterial = new THREE.MeshPhongMaterial( {
                        map: texture
                     } );
                },
                // Function called when download progresses
                function ( xhr ) {
                    console.log( (xhr.loaded / xhr.total * 100) + '% loaded' );
                },
                // Function called when download errors
                function ( xhr ) {
                    console.log( 'An error happened' );
                }
            );

            // material.map = THREE.ImageUtils.loadTexture('/static/images/earthmap1k.jpg')
            earthMaterial.bumpMap    = THREE.ImageUtils.loadTexture('/static/images/earthbump1k.jpg')
            earthMaterial.bumpScale = 0.05
            earthMaterial.specularMap    = THREE.ImageUtils.loadTexture('/static/images/earthspec1k.jpg')
            earthMaterial.specular  = new THREE.Color('grey')
            var earthMesh = new THREE.Mesh(geometry, earthMaterial)
            scene.add(earthMesh)


            // create the geometry sphere
            var geometry  = new THREE.SphereGeometry(90, 32, 32)
            // create the material, using a texture of startfield
            var starMaterial  = new THREE.MeshBasicMaterial()
            starMaterial.map   = THREE.ImageUtils.loadTexture('/static/images/galaxy_starfield.png')
            starMaterial.side  = THREE.BackSide
            // create the mesh based on geometry and material
            var starMesh  = new THREE.Mesh(geometry, starMaterial)
            scene.add(starMesh)


// Clouds

            // canvasCloud ?

            // var geometry   = new THREE.SphereGeometry(0.51, 32, 32)
            // var material  = new THREE.MeshPhongMaterial({
            //   map     : new THREE.Texture(canvasCloud),
            //   side        : THREE.DoubleSide,
            //   opacity     : 0.8,
            //   transparent : true,
            //   depthWrite  : false,
            // })
            // var cloudMesh = new THREE.Mesh(geometry, material)
            // earthMesh.add(cloudMesh)

            // onRenderFcts.push(function(delta, now){
            //   earthMesh.rotation.y  += 1/32 * delta
            // })

            // onRenderFcts.push(function(delta, now){
            //   cloudMesh.rotation.y  += 1/16 * delta
            // })

            // create the geometry sphere
            var geometry  = new THREE.SphereGeometry(90, 32, 32)
            // create the material, using a texture of startfield
            var material  = new THREE.MeshBasicMaterial()
            material.map   = THREE.ImageUtils.loadTexture('/static/images/galaxy_starfield.png')
            material.side  = THREE.BackSide
            // create the mesh based on geometry and material
            var mesh  = new THREE.Mesh(geometry, material)


// LIGHT SETUP
            // create a point light
            var pointLight = new THREE.PointLight(0xFFFFFF);

            // set its position
            pointLight.position.x = 10;
            pointLight.position.y = 50;
            pointLight.position.z = 130;

            // add to the scene
            scene.add(pointLight);

            // These don't apply to geometry that already have their surface painted by a shader
            var ambient = new THREE.AmbientLight( 0x101030 );
            scene.add( ambient );


// NAV SETUP
            controls = new THREE.OrbitControls(camera, renderer.domElement);


// EVENT LISTENER SETUP
            onWindowResize();
            window.addEventListener( 'resize', onWindowResize, false );
            // onMouseMove();
            window.addEventListener( 'mousemove', onMouseMove, false );
        }

        function onWindowResize( event ) {
            renderer.setSize( window.innerWidth, window.innerHeight );
            uniforms.u_resolution.value.x = renderer.domElement.width;
            uniforms.u_resolution.value.y = renderer.domElement.height;
        }

        function onMouseMove( event ) {        
            uniforms.u_mouse.value.x = event.pageX;
            uniforms.u_mouse.value.y = event.pageY;
        }

        function animate() {
            requestAnimationFrame( animate );
            render();
        }
        
        var frame = 0;
        
        function render() {

            uniforms.u_time.value += 0.05;
            uniforms.amplitude.value = Math.sin(frame);
            frame += 0.01;

            // TODO: To Output Frames To A Video Server Collecting Frames
            // console.log(document.querySelector('canvas').toDataURL());

            renderer.render( scene, camera );
        }

        function toggleValueCheck() {
            if(uniforms.check_value.value == 1) {
                uniforms.check_value.value = 0;
            }
            else {
                uniforms.check_value.value = 1;
            }
        }

// CONTROLS SETUP
        // # Build gui with dat.gui
        function buildGui(options, callback)
        {
            // create and initialize the UI
            var gui = new dat.GUI({ height  : 4 * 32 - 1 });
            
            // the callback notified on UI change
            var change  = function(){
                callback(options)
            }

            gui.add(options, 'deform_amt').name('Deform Amount').min(0.1).max(30.0).onChange(change);
            gui.add(options,'valueCheckToggle').name('Check Mix Value').onChange(toggleValueCheck);
            // gui.add(options, 'easing').name('Easing Curve').options(easings)    .onChange(change);
            // gui.add(options, 'changeColor').name('Change Color To Green');
        }
    </script>
</body>