<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Throwing Shaders - Sands Fish</title>
		<link rel="stylesheet" type="text/css" href="static/main.css">
	</head>
	<style>
	body {
		margin: 5px;
	}

	h2 {
		float: left;
	}

	ul, li {
		text-align: left;
	}

	hr {
		/*float: right;
		margin-left: 40%;
		margin-right: 40%;*/
	}

	ul {
		list-style-type: square;
	}
	</style>
	<body>
		<br>
		<h1>Throwing Shaders - WebGL Experiments by Sands Fish</h1>
		<hr>
		<br>
		<ul>
			<li><a href="/projects/rgbmap_01.html">XY(Y) => RG(B) Map</li>
			<li><a href="/projects/particle_system_01.html">Particle System 01</li>
			<li><a href="/projects/particle_system_02.html">Particle System 02 w/ Controls</a></li>
			<li><a href="/projects/color_space_time_shader_01.html">Color Space Time Shader 01</a></li>
			<li><a href="/projects/mediacloud-particle_system_01.html">Media Cloud Particle System Sketch 01</a></li>
			<li><a href="/projects/threejs_tutorial_01.html">ThreeJS Tutorial 01</a></li>
			<li><a href="/projects/threejs_tutorial_02.html">ThreeJS Tutorial 02</a></li>
			<li><a href="/projects/threejs_tween_01.html">ThreeJS Tween 01</a></li>
			<li><a href="/projects/threejs_tween_02.html">ThreeJS Tween 02</a></li>
			<h3>Book of Shaders</h3>
			<li><a href="/projects/book-of-shaders-01.html">Color Mapping and Cycling</a></li>
			<li><a href="/projects/book-of-shaders-02.html">Color Mixing via Mouse Location</a></li>
			<li><a href="/projects/book-of-shaders-03.html">Static</a></li>
			<li><a href="/projects/book-of-shaders-04.html">Static and Oscillating Areas</a></li>
			<li><a href="/projects/book-of-shaders-05.html">Vertex Shader Sphere Deformation/Oscillation and Fragment Lighting Simulation w/ Mouse Navigation</a></li>
			<li><a href="/projects/book-of-shaders-06.html">Sine Wave Time Eclipse</a></li>
			<li><a href="/projects/book-of-shaders-07.html">Coordinate Colors w/ Increasing u_time sin values</a></li>
			<li><a href="/projects/book-of-shaders-08.html">Coordinate Colors w/ Mix Value Debug and Controls</a></li>
			<li><a href="/projects/book-of-shaders-09.html">Search Light w/ Cycling SmoothStep Color Components</a></li>
			<li><a href="/projects/book-of-shaders-10.html">Colors #10</a></li>
			<li><a href="/projects/book-of-shaders-10.html">Vertex Jiggle</a></li>
		</ul>
		<br><br><br><br><br><br><br>

		<h2>Reference</h2>
		<br><br>
		<hr>
		<br>
		<ul>
			<li><a href="http://www.shaderific.com/glsl-statements/" target="_ref">OPENGL ES SHADING LANGUAGE STATEMENTS</a></li>
			<li><a href="https://jackschaedler.github.io/circles-sines-signals/signals.html" target="_ref">SEEING CIRCLES, SINES, AND SIGNALS: A Compact Primer On Digital Signal Processing</a></li>
		</ul>

		
		<br>
		<span style="float:left; bottom: 5px; position: absolute; left: 5px;">
			[<a href="https://jsfiddle.net/user/sandsfish/fiddles/" target="_jsfiddle">JSFiddle Sketches</a>] &nbsp;
			[<a href="https://www.shadertoy.com/user/sandsfish" target="_shadertoy">ShaderToy Sketches</a>] &nbsp;
			[<a href="https://www.shadertoy.com/loved" target="_shadertoy">ShaderToy References</a>]
		</span>
	</body>
</html>
