<body>
    <head>
        <link rel="stylesheet" type="text/css" href="/static/main.css">
    </head>
    <div id="container"></div>
    <script src="/static/bower_components/threejs/build/three.js"></script>
    <script src="/static/bower_components/threejs/examples/js/Detector.js"></script>
    <!-- <script src="/static/bower_components/threejs/examples/js/loaders/STLLoader.js"></script> -->
    <script src="/static/bower_components/threejs/examples/js/loaders/OBJLoader.js"></script>
    <script src="/static/bower_components/threejs/examples/js/loaders/MTLLoader.js"></script>
    <script src="/static/bower_components/threejs/examples/js/controls/OrbitControls.js"></script>

<script src="/static/bower_components/threejs/examples/js/EffectsComposer.js"></script>
<script src="/static/bower_components/threejs/examples/js/UnrealBloomPass.js"></script>

    <!-- <script src="/static/bower_components/threejs/libs/stats.min.js"></script> -->
    <script src="/static/bower_components/dat.gui/dat.gui.js"></script>

    <script id="vertexShader" type="x-shader/x-vertex">
        // switch on high precision floats
        #ifdef GL_ES
        precision highp float;
        #endif
        
        uniform float u_time;
        uniform float amplitude;
        uniform float deform_amt;
        attribute float displacement;

        #define PI 3.14159265359

        // a shared variable for the VS and FS containing the normal
        varying vec3 vNormal;

        void main() {
            // set the vNormal value with the attribute value passed in by Three.js
            vNormal = normal;

            gl_Position = projectionMatrix *
                          modelViewMatrix *
                          vec4(position, 1.0);

            // gl_Position = vec4( position, 1.0 );
        }
    </script>
    <script id="fragmentShader" type="x-shader/x-fragment">
        #ifdef GL_ES
        precision highp float;
        #endif

        uniform vec2 u_mouse;
        uniform vec2 u_resolution;
        uniform float u_time;
        uniform int check_value;

        varying vec3 vNormal;

        #define PI 3.14159265359
        #define TWO_PI 6.28318530718

        float plot(vec2 st, float pct){
            return  smoothstep( pct-0.01, pct, st.y) - 
            smoothstep( pct, pct+0.01, st.y);
        }

        //  Function from Iñigo Quiles 
        //  https://www.shadertoy.com/view/MsS3Wc
        vec3 hsb2rgb( in vec3 c ){
            vec3 rgb = clamp(abs(mod(c.x*6.0+vec3(0.0,4.0,2.0),
                                     6.0)-3.0)-1.0, 
                             0.0, 
                             1.0 );
            rgb = rgb*rgb*(3.0-2.0*rgb);
            return c.z * mix( vec3(1.0), rgb, c.y);
        }

        void main() {
            float color_cycle_speed = 0.1;
            vec2 st = gl_FragCoord.xy/u_resolution.xy;

            // position light source ensure it's normalized
            vec3 light = vec3(0.5, 0.2, 1.0);
            light = normalize(light);

            // calculate the dot product of the light to the vertex normal
            float dProd = max(0.0, dot(vNormal, light));

            vec4 blue = vec4(0.2, 0.4, 1.0, 1.0);
            vec4 purple = vec4(0.6, 0.0, 1.0, 1.0);
            vec4 gold = vec4(0.9568, 0.8196, 0.2588, 1.0);

            vec4 color = gold;

            // set color and make sure it takes into account the directional light
            gl_FragColor = color;

            // Paint the bottom half of the object with the mix amount value if enabled
            if(st.y < 0.5 && check_value == 1) {
                gl_FragColor = vec4(color.rgb, 1.0);
            }

        }
    </script>
    <script>
        if ( ! Detector.webgl ) Detector.addGetWebGLMessage();

        var container;
        var camera, scene, renderer;
        var uniforms;
        var controls;
        
        // var jsonString = '{{ data|safe }}';
        // console.log(jsonString);
        // var dataFromServer = JSON.parse(jsonString);
        var dataFromServer = {{ data|tojson }};

        var userOpts = {
            displacement: 30,
            valueCheckToggle: false,
            deform_amt: 2.5
        };

        init();
        animate();

        function createSphere(radius) {
            var SPHERE_MULTIPLIER = 2;
            var segments = 16*SPHERE_MULTIPLIER,
                rings = 8*SPHERE_MULTIPLIER;
            var material = new THREE.MeshPhongMaterial( {
                color: 0x2194CE
            } );
            var geometry = new THREE.SphereBufferGeometry( radius, segments, rings );
            var sphere = new THREE.Mesh( geometry, material );
            return sphere;
        }


        function init() {

// SCENE & RENDER SETUP
            container = document.getElementById( 'container' );

            scene = new THREE.Scene();
            // scene.fog = new THREE.Fog( 0xBFBFBF, 2, 15 );

            renderer = new THREE.WebGLRenderer( { alpha: true, antialias: true } );
            // renderer.setClearColor( scene.fog.color );
            renderer.setPixelRatio( window.devicePixelRatio );
            // renderer.gammaInput = true;
            // renderer.gammaOutput = true;
            container.appendChild( renderer.domElement );

           // Build the GUI and specify function to update values on change
            buildGui(userOpts, function(opts){
                uniforms.deform_amt.value = opts.deform_amt;
            });


// CAMERA SETUP
            // set some camera attributes
            var VIEW_ANGLE = 45,
                ASPECT = window.innerWidth / window.innerHeight,
                NEAR = 0.1,
                FAR = 100000;

            camera = new THREE.PerspectiveCamera( VIEW_ANGLE, ASPECT, NEAR, FAR);
            
            // the camera starts at 0,0,0 so pull it back
            camera.position.z = 500;


// SHADER SETUP
            uniforms = {
                u_time: { type: "f", value: 1.0 },
                u_resolution: { type: "v2", value: new THREE.Vector2() },
                u_mouse: { type: "v2", value: new THREE.Vector2() },
                amplitude: { type: 'f', value: 0 }, // a float
                check_value: { type: 'i', value: 0 },
                deform_amt: { type: 'f', value: 2.5 }
            };

            var attributes = {
                displacement: {
                    type: 'f', // a float
                    value: [] // an empty array
                }
            };


// SPHERE SETUP

            // set up the sphere vars
            var SPHERE_MULTIPLIER = 2;
            var radius = 100,
                segments = 16*SPHERE_MULTIPLIER,
                rings = 8*SPHERE_MULTIPLIER;

            // create the sphere's material
            // var sphereMaterial =
            //   new THREE.MeshLambertMaterial(
            //     {
            //       color: 0x0055CC,
            //       wireframe: true
            //     });

            // create the sphere's material
            var shaderMaterial = new THREE.ShaderMaterial({
                uniforms:       uniforms,
                wireframe: true,
                vertexShader: document.getElementById( 'vertexShader' ).textContent,
                fragmentShader: document.getElementById( 'fragmentShader' ).textContent
            });

            // Apparently you need to use BufferGeometry to pass attributes to shaders now.
            // https://stackoverflow.com/questions/25491068/three-js-buffergeometry-for-spheres
            // constructor: radius, widthSegments, heightSegments, phiStart, phiLength, thetaStart, thetaLength

            var sphereGeo = new THREE.SphereBufferGeometry( radius, segments, rings ); //r72


// SPHERE GEOMETRY SETUP FOR VERTEX SHADER

    // TODO: This should be the sun, if we're sticking with the metaphor. Should be bigger than the largest planet, and glowing.

            // now populate the array of attributes
            var vertices = sphereGeo.attributes.position;
            var values = attributes.displacement.value;

            for(var v = 0; v < vertices.length; v++) {
                values.push(Math.random() * 30);
            }

            sphereGeo.addAttribute( 'displacement', new THREE.BufferAttribute( new Float32Array(values), 1 ) );

            var sphere = new THREE.Mesh(
              sphereGeo,
              shaderMaterial);

            // sphere.drawMode = THREE.TrianglesDrawMode;

            // add the sphere to the scene
            scene.add(sphere);



// Create Spheres From Media Cloud Data Dynamically

            // Parent for orbits
            parent = new THREE.Object3D();
            parent.name = 'orbitParent';
            scene.add( parent );

            var data_list = dataFromServer['media'];
            // console.log(data_list.length);

            // FIXME: How do I get to a specific one of these in the future to modify them?

            for(var i = 0; i < data_list.length; i++) {
                var item = data_list[i];
                // console.log(item['media_inlink_count']);

                // Rotation method from:
                // https://stackoverflow.com/questions/15214582/how-do-i-rotate-some-moons-around-a-planet-with-three-js
                var pivot = new THREE.Object3D();
                pivot.rotation.z = Math.random()*2 * Math.PI / 3;
                pivot.rotation.y = Math.random()*4 * Math.PI / 3;
                pivot.rotation.x = Math.random()*6 * Math.PI / 3;
                parent.add( pivot );

                var s = createSphere(item['media_inlink_count']);
                s.position.x = Math.random() * 1000;
                s.position.y = Math.random() * 1000;
                s.position.z = Math.random() * 1000;
                s.name = 's' + i;
                
                pivot.add( s );
                // scene.add( s );

                

                








            }

// pivot1.rotation.z = 0;
// pivot2.rotation.z = 2 * Math.PI / 3;
// pivot3.rotation.z = 4 * Math.PI / 3;

// https://threejs.org/examples/webgl_geometry_text.html#00D2FF000
// 

        var text = "media cloud",
        fontName = "optimer", // helvetiker, optimer, gentilis, droid sans, droid serif
        fontWeight = "normal"; // normal bold
        height = 20,
        size = 70,
        hover = 30,
        font = undefined;

        function loadFont() {

            var loader = new THREE.FontLoader();
            loader.load( 'fonts/' + fontName + '_' + fontWeight + '.typeface.json', function ( response ) {

                font = response;

                refreshText();

            } );

        }

        function createText() {

            textGeo = new THREE.TextGeometry( text, {

                font: font,

                size: size,
                height: height,
                curveSegments: curveSegments,

                bevelThickness: bevelThickness,
                bevelSize: bevelSize,
                bevelEnabled: bevelEnabled,

                material: 0,
                extrudeMaterial: 1

            });

            textGeo.computeBoundingBox();
            textGeo.computeVertexNormals();

            // "fix" side normals by removing z-component of normals for side faces
            // (this doesn't work well for beveled geometry as then we lose nice curvature around z-axis)

            if ( ! bevelEnabled ) {

                var triangleAreaHeuristics = 0.1 * ( height * size );

                for ( var i = 0; i < textGeo.faces.length; i ++ ) {

                    var face = textGeo.faces[ i ];

                    if ( face.materialIndex == 1 ) {

                        for ( var j = 0; j < face.vertexNormals.length; j ++ ) {

                            face.vertexNormals[ j ].z = 0;
                            face.vertexNormals[ j ].normalize();

                        }

                        var va = textGeo.vertices[ face.a ];
                        var vb = textGeo.vertices[ face.b ];
                        var vc = textGeo.vertices[ face.c ];

                        var s = THREE.GeometryUtils.triangleArea( va, vb, vc );

                        if ( s > triangleAreaHeuristics ) {

                            for ( var j = 0; j < face.vertexNormals.length; j ++ ) {

                                face.vertexNormals[ j ].copy( face.normal );

                            }

                        }

                    }

                }

            }

            var centerOffset = -0.5 * ( textGeo.boundingBox.max.x - textGeo.boundingBox.min.x );

            textMesh1 = new THREE.Mesh( textGeo, material );

            textMesh1.position.x = centerOffset;
            textMesh1.position.y = hover;
            textMesh1.position.z = 0;

            textMesh1.rotation.x = 0;
            textMesh1.rotation.y = Math.PI * 2;

            group.add( textMesh1 );

            if ( mirror ) {

                textMesh2 = new THREE.Mesh( textGeo, material );

                textMesh2.position.x = centerOffset;
                textMesh2.position.y = -hover;
                textMesh2.position.z = height;

                textMesh2.rotation.x = Math.PI;
                textMesh2.rotation.y = Math.PI * 2;

                group.add( textMesh2 );

            }

        }

        function refreshText() {

            updatePermalink();

            group.remove( textMesh1 );
            if ( mirror ) group.remove( textMesh2 );

            if ( !text ) return;

            createText();

        }


// UNIVERSE SETUP
            // create the geometry sphere
            var geometry  = new THREE.SphereGeometry(radius*100, segments, rings)
            // create the material, using a texture of startfield
            var starMaterial  = new THREE.MeshBasicMaterial()
            starMaterial.map   = THREE.ImageUtils.loadTexture('/static/images/galaxy_starfield.png')
            starMaterial.side  = THREE.BackSide
            // create the mesh based on geometry and material
            var starMesh  = new THREE.Mesh(geometry, starMaterial)
            scene.add(starMesh)

// LIGHT SETUP
            // create a point light
            var pointLight = new THREE.PointLight(0xFFFFFF);

            // set its position
            pointLight.position.x = 10;
            pointLight.position.y = 50;
            pointLight.position.z = 130;

            // add to the scene
            scene.add(pointLight);

            // These don't apply to geometry that already have their surface painted by a shader
            var ambient = new THREE.AmbientLight( 0x101030 );
            scene.add( ambient );




// MTL/OBJ Loader
            // var onProgress = function () { };
            // var onError = function () { console.log('Error loading OBJ...'); };
            // var material = new THREE.ShaderMaterial( { 
            //     color: 'yellow', 
            //     side: THREE.DoubleSide,
            //     vertexShader: document.getElementById( 'vertexShader' ).textContent,
            //     fragmentShader: document.getElementById( 'fragmentShader' ).textContent
            // });

            // var mtlLoader = new THREE.MTLLoader();
            //     mtlLoader.setPath( '../static/' );
            //     mtlLoader.load( 'curve.mtl', function( materials ) {

            //         materials.preload();

            //         var objLoader = new THREE.OBJLoader();
            //         // objLoader.setMaterials( materials );
            //         objLoader.setPath( '../static/' );
            //         objLoader.load( 'curve.obj', function ( object ) {

            //             object.traverse(function (child) {

            //                 if (child instanceof THREE.Mesh) {
            //                     child.material = material;
            //                 }

            //             });

            //             object.position.y = - 95;
            //             scene.add( object );

            //         }, onProgress, onError );

            //     });




// NAV SETUP
            controls = new THREE.OrbitControls(camera, renderer.domElement);
            controls.enableDamping = true;
            controls.dampingFactor = 0.1;

            // controls.constraint.smoothZoom = true;
            // controls.constraint.zoomDampingFactor = 0.2;
            // controls.constraint.smoothZoomSpeed = 5.0;
            // controls.autoRotate = true;
            // stats = new Stats();
            // container.appendChild( stats.dom );


// EVENT LISTENER SETUP
            onWindowResize();
            window.addEventListener( 'resize', onWindowResize, false );
            // onMouseMove();
            window.addEventListener( 'mousemove', onMouseMove, false );
        }

        function onWindowResize( event ) {
            renderer.setSize( window.innerWidth, window.innerHeight );
            uniforms.u_resolution.value.x = renderer.domElement.width;
            uniforms.u_resolution.value.y = renderer.domElement.height;

            camera.aspect = window.innerWidth / window.innerHeight;
            camera.updateProjectionMatrix();
        }

        function onMouseMove( event ) {        
            uniforms.u_mouse.value.x = event.pageX;
            uniforms.u_mouse.value.y = event.pageY;
        }

        function animate() {
            requestAnimationFrame( animate );
            render();
        }
        
        var frame = 0;

        function render() {

            // If damping is enabled you must call controls.update() in render
            controls.update();

            uniforms.u_time.value += 0.05;
            uniforms.amplitude.value = Math.sin(frame);
            frame += 0.01;

            scene.traverse (function (object)
            {
                // if (object instanceof THREE.Mesh)
                // {
                    if (object.name === 'orbitParent') {
                        object.traverse(function(object) {
                            // object.rotation.y -= Math.sin(Math.random()*0.05);
                            object.rotation.y -= 0.01;
                        })
                    }

                // }
            });

            // TODO: To Output Frames To A Video Server Collecting Frames
            // console.log(document.querySelector('canvas').toDataURL());

            renderer.render( scene, camera );
        }

        function toggleValueCheck() {
            if(uniforms.check_value.value == 1) {
                uniforms.check_value.value = 0;
            }
            else {
                uniforms.check_value.value = 1;
            }
        }

// CONTROLS SETUP
        // # Build gui with dat.gui
        function buildGui(options, callback)
        {
            // create and initialize the UI
            var gui = new dat.GUI({ height  : 4 * 32 - 1 });
            
            // the callback notified on UI change
            var change  = function(){
                callback(options)
            }

            gui.add(options, 'deform_amt').name('Deform Amount').min(0.1).max(30.0).onChange(change);
            gui.add(options,'valueCheckToggle').name('Check Mix Value').onChange(toggleValueCheck);
            // gui.add(options, 'easing').name('Easing Curve').options(easings)    .onChange(change);
            // gui.add(options, 'changeColor').name('Change Color To Green');
        }
    </script>
</body>